ArchivePipelines: Api
ArchiveFilter: => GetString("Kind") == "Namespace"
ArchiveOrderKey: DisplayName
Title: API Documentation
Xref: api
---
<section class="prose dark:prose-invert">
    <h1>Namespaces</h1>
    @foreach (var namespaceDoc in Model.GetChildren())
    {
        var showNamespace = false;
        foreach (var memberTypeDoc in namespaceDoc.GetChildren(CodeAnalysisKeys.MemberTypes))
		{
			if (memberTypeDoc.GetString(CodeAnalysisKeys.SpecificKind) != "Namespace")
			{
				showNamespace = true;
                break;
            }
		}

        if (!showNamespace)
        {
            continue;
        }

        <h2>@Context.GetTypeLink(namespaceDoc)</h2>
        var summary = namespaceDoc.GetString(CodeAnalysisKeys.Summary);
        if (!summary.IsNullOrWhiteSpace())
        {
            <div>
                @Html.Raw(summary)
            </div>
        }
    }
</section>